/*
 *
 * Forms
 *
 *
*/
// sass-lint:disable no-important, no-ids

.alternate{
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea,
  select{
    border: 2px solid color(ben-franklin-blue);
    background-color: white;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  border: 2px solid color(electric-blue);
  background-color:$white;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

//chome autocomplete hack to stop random ugly yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


@mixin form-controls( $unselected-icon, $selected-icon ) {
  display:none;

  + label[for]{
    color: color(dark-ben-franklin);
    font-size:$global-font-size;
  }

  + label::before {
    display:inline-block;
    content: $unselected-icon;
    padding-right:10px;
    font-family: FontAwesome;
    color: color(dark-ben-franklin);

  }

  &:checked + label::before {
    display:inline-block;
    padding-right:10px;
    content: $selected-icon;
    font-family: FontAwesome;
  }
}

//Custom checkboxes
input[type=checkbox] {
  @include form-controls( '\f096', '\f14a');
}
//Custom Radios
input[type=radio] {
  @include form-controls( '\f1db', '\f111');
}
