ul.inline-list li{
  display: inline-block;
}

.valign {
  display: table;
  width: 100%;
  height: inherit;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

.margin-bottom-50{
  margin-bottom: rem-calc(50) !important;
}

.full {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.center{
  //for when you really _really_ need that centered text.
  text-align:center !important;
}

/* These are required because without them, users will see a flash of mobile content. This has been doucmented here: https://github.com/zurb/foundation-sites/issues/7083
*/
.no-js [data-responsive-toggle] {
  display: none;
}
.title-bar{
  display: none;
}

/*NOOOOOOO*/
.no-scroll{
  height:100%;
  overflow: hidden;
}

.no-scale{
  width:auto;
  height:auto;
}

.no-margin{
  margin:0 !important;
}

.no-padding {
  padding:0!important;
}

.nowrap {
  white-space: nowrap!important;
}
