.inside-border-group{
  background: color(ghost-gray);

  .inside-border-group-item{
    border: 1px solid color(white);
    padding-left:0;
    padding-right:0;

    > a{
      &:hover{
        background:color(ben-franklin-blue);
        color:color(white);
      }
    }
  }
  a {
    div {
      .fa {
        margin-right:$spacing-medium;
      }
      display:table-cell;
      vertical-align:middle;
    }
  }
}

.no-js {
  .inside-border-group-item{
    border:none;
  }
}
